<div class="card p-3 gap-2 justify-content-center " id="<%= dom_id family_member %>">
  <% if family_member.image.attached? %>
    <p style="width: 100%; height: auto;">
    <%= image_tag(family_member.image, style:"width:100%", class:"card-img-top").html_safe %>
    </p>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <%= family_member.first_name %>
    </h5>
  </div>
    <p class="card-text">
      <%= family_member.relationship %>
   </p>
   <!-- <div class="d-grid gap-2 d-md-flex justify-content-center"> -->
    <%= link_to "Contacts", family_member_contacts_path(family_member), class: "btn btn-secondary", style: "width: 100%" %>
    <%= link_to "Wishlist", family_member_wishlists_path(family_member), class: "btn btn-secondary", style: "width: 100%" %>
   <!-- </div> -->
</div>

