<div class="container text-center" id="family_members">
    <h1 class="mb-5">Family members</h1>
  <div class="row justify-content-center ">
      <% @family_members.each do |family_member| %>
        <% unless @family_members.size == 2 and family_member.relationship == "Family" %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card mb-5" style="min-height: 400px;">
                <div style="min-height: 300px; max-width: 100%;">
                  <% if family_member.image.attached? %> 
                    <%= image_tag(family_member.image,  alt: "userpic", style:"width:100%", class: "card-img-top" ).html_safe %> 
                  <% else %>
                    <%= image_tag("/default.jpg", alt: "userpic", style:"width:100%", class: "card-img-top" ).html_safe %> 
                  <% end %>
                </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= family_member.first_name %></h5>
                    <p class="card-text"><%= family_member.relationship %></p>
                    </div>
                    <div class="mb-3">
                      <%= link_to "Contacts", family_member_contacts_path(family_member), class: "btn btn-primary btn-sm m-1  m-sm-0" %>
                      <%= link_to "Wishlist", family_member_wishlists_path(family_member), class: "btn btn-primary btn-sm m-1  m-sm-0" %>
                      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-secondary btn-sm m-1 m-sm-0">
                      <i class="bi bi-three-dots"></i>
                      </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Edit", edit_family_member_path(family_member), class: "link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover dropdown-item"%> </li>
                          <% unless family_member.relationship == "Account Owner" || family_member.relationship == "Family" %>
                            <li><hr class="dropdown-divider"></li>
                            <li><%= link_to "Delete", family_member, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover dropdown-item" %></li>
                          <% end %>
                        </ul>
                    </div>
                  </div>
                
            </div>
        <% end %>
      <% end %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex ">
        <div class="card mb-5 flex-grow-1 d-flex justify-content-center" style="min-height: 415px;">
         <%= link_to "", new_family_member_path, class: "btn flex-grow-1 d-flex justify-content-center  align-items-center bi bi-plus-circle-dotted fs-1" %>
        </div>
      </div>
  </div>
</div>
