 <center> 
  <h2>Resend confirmation instructions</h2>

  <div  class="card p-5 d-flex flex-column gap-2" style="width: 45%;">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email: "display: block; font-weight: bold" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), style: "width: 90%" %>
      </div>
 %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</center>