<div class="d-flex justify-content-center flex-column align-items-center">
  <h2>Sign up</h2>
  <div class="container text-center">
    <div class="row text-center justify-content-center  ">
      <div  class="card col col-xs-12 col-md-8 p-3 pb-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>


          <div class="field mb-3">
            <%= f.label :first_name, style: "display: block; font-weight: bold" %><br />
            <%= f.text_field :first_name, autofocus: true, style: "width: 90%" %>
          </div>

          <div class="field mb-3">
            <%= f.label :last_name, style: "display: block; font-weight: bold" %><br />
            <%= f.text_field :last_name, autofocus: true, style: "width: 90%" %>
          </div>

          <div class="field mb-3">
            <%= f.label :email, style: "display: block; font-weight: bold" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 90%" %>
          </div>

          <div class="field mb-3">
            <%= f.label :password, style: "display: block; font-weight: bold"  %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", style: "width: 90%" %>
          </div>

          <div class="field mb-3">
            <%= f.label :password_confirmation, style: "display: block; font-weight: bold"  %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 90%" %>
          </div>

          <div class="actions mb-3">
            <%= f.submit "Sign up", class: "btn btn-primary mt-3", style: "width: 90%" %>
          </div>
        <% end %>
          </div>
      <%= render "devise/shared/links" %>
  </div>
 </div>
</div>