<div class="d-flex justify-content-center flex-column align-items-center">
  <h2>Forgot your password?</h2>
   <div class="container text-center">
      <div class="row text-center justify-content-center">
        <div  class="card col col-xs-12 col-md-8 p-3  pb-5">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field mb-3">
                <%= f.label :email, style: "font-weight: bold" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 90%"  %>
              </div>

              <div class="actions mt-3">
                <%= f.submit "Send me reset password instructions", class: "btn btn-primary", style: "width: 90%" %>
              </div>
        <% end %>
        </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>