<div id="<%= dom_id wishlist %>">
  <p>
    <strong>Description:</strong>
    <%= wishlist.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= wishlist.quantity %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= wishlist.link %>
  </p>

  <p>
    <strong>Purchased:</strong>
    <%= wishlist.purchased %>
  </p>

  <p>
    <strong>Family member:</strong>
    <%= wishlist.family_member_id %>
  </p>

</div>
