<div class="card p-3 gap-2 justify-content-center pb-5 " id="<%= dom_id wishlist %>">
  <div class="card-body">
    <p>
      <strong>Description:</strong>
      <%= wishlist.description %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= wishlist.quantity %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= wishlist.link %>
    </p>

    <p>
      <strong>Purchased:</strong>
      <%= wishlist.purchased %>
    </p>

    <p>
      <strong>Family member:</strong>
      <%= wishlist.family_member_id %>
    </p>
  </div>
</div>
