<center>
  <div class="d-flex">
    <h1 class="flex-grow-1">Wishlists</h1> 
    <%= link_to "", new_wishlist_path, class: "bi bi-plus-square-dotted fs-1 link-secondary" %>   
  </div>
</center>
<div class="table-responsive">
  <table id="wishlist" class="table table-bordered table-responsive-md w-80">
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Link</th>
        <th>Purchased</th>
        <th>Family member</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @wishlists.each do |wishlist| %> 
    
      <tr <% if wishlist.purchased %> class="table-secondary" <% end %>>
        <td><%= link_to wishlist.description, wishlist, class: "btn" %></td>

        <td><%= wishlist.quantity %></td>

        <td>
          <% if wishlist.link.present? %>
          <a href="<%= wishlist.link %>">link</a>
          <% else %>
          <p></p>
          <% end %>
        </td>

        <td>
          <%= form_with(model: wishlist, remote: true) do |form| %>
            <%= form.check_box :purchased, checked: (wishlist.purchased ? true : false), onchange: "this.form.submit();"  %>
          <% end %>
        </td>

        <td> 
            <%= wishlist.family_member.first_name %>
        </td>
        <td>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <%= link_to "", edit_wishlist_path(wishlist), class: "link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover dropdown-item bi bi-pencil"  %>
              </div>
              <div class="col">
                <%= link_to "", wishlist, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover dropdown-item bi bi-trash"  %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    
    </tbody>
    <% end %>
  </table>
</div>

