<p style="color: green"><%= notice %></p>

<%= render @wishlist %>

<div>
  <%= link_to "Edit this wish", edit_wishlist_path(@wishlist), class: "btn btn-primary mt-3" %> |
  <%= link_to "Back to wish", wishlists_path, class: "btn btn-primary mt-3" %>

  <%= button_to "Destroy this wish", @wishlist, method: :delete, class: "btn btn-primary mt-3" %>
</div>
